.profile-page {
  .profile-page-header {
    .profile-image {
      img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        border: 3px solid #fff;
        background: #e0e0e0;
      }
    }
  }
}
