.login_page {
  background: url(../../assets/images/laigueglia.jpg) no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 51%;
}

.seconda {
  background: white;
  padding-top: 5%;
  padding-bottom: 15%;
}

.motto {
  margin-top: 20%;
  font-size: 30px;
  color: #fff;
}
